.displaytweets-table, displaytweets-table th, displaytweets-table td {
    border: 1px solid black;
}

.displaytweets-table td {
     padding: 3px;
}

.displaytweets-container {
    margin: inherit 15px inherit 15px;
    max-height: 700px;
    overflow-y: auto;
    display: inline-block;
}

.small-img {
    max-width: 100px;
    padding-left: 3px;
}

.small-img:hover {
    border: 3px solid red 
}

.body-row {
    max-width: 600px;
}

.profile-image {
    height: 70px;
    width: 70px;
}

.images-container {
    max-height: 300px;
    max-width: 210px;
}