body {
    background: #fff;
    color: black;
    font-family: Raleway;
}

.tweetcards {
    min-height: 200px;
    max-height: 200px;
    overflow: hidden;
}

#tweet-display-group {
    background: rgba(230, 230, 230, 1);
    position: absolute;
    color: black;
    border-radius: 50%;
    width: 800px;
    height: 800px;
    font-size: 28px;
    padding-top: 100px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
}

#tweet-display {
    position: absolute;
    top: 0px;
    left: 0px;
}

#bubble-canvas {
    position: relative;
    background-color: black;
}

#tweet-body {
    text-align: justify;
    text-align-last: center;
    height: 350px;
    width: 500px;
    overflow: hidden;
}

#name {
    font-weight: 600;
    width: 400px;
    text-align: center;
}

#username {
    width: 600px;
    text-align: center;
}

.hashtag, .mention {
    color: #0078A3;
}

h2, h3 {
    margin: 0;
    margin-bottom: 25px;
}

#profile-image {
    margin-bottom: 75px;
    border-radius: 50%;
}

.show {
    opacity: 1 !important;
}

.step {
    transition: ease-in 0.5s all;
    opacity: 0;
}

.fullscreen {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.approved {
    color: green;
}

#get-involved-text {
    color: white;
    font-size: 30px;
    margin-top: -45px;
    font-weight: 500;
    margin-left: 5px;
}

#twitter-logo {
    width: 40px;
    height: 32.5px;
}
