body {
    font-family: Raleway;
    position: absolute;
    top:    0; bottom:  0;
    left:   0; right:   0;
    overflow: hidden;
}

.tweetcards {
    min-height: 200px;
    max-height: 200px;
    overflow: hidden;
}

#tweet-display-group {
    position: absolute;
    color: black;
    border-radius: 50%;
    width: 800px;
    height: 800px;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#tweet-display {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#bubble-canvas {
    background-color: #eee;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#tweet-body {
    max-width: 500px;
    overflow: hidden;
    font-size: 25px;
    margin-top: 15px;
}

#name {
    display: inline;
    font-weight: 600;
    text-align: center;
    font-size: 22px;
}

#username {
    text-align: left;
    color: #a19c9c;
    font-size: 18px;
    font-weight: 500;
}

.hashtag, .mention, .url {
    color: #0078A3;
}

h2, h3 {
    margin: 0;
    margin-bottom: 25px;
}

.profile-image, #profile-image-bubble {
    border-radius: 50%;
    vertical-align: top;
    width: 80px;
    height: 80px;
}

.main-tweet.visible {
    opacity: 1;
    transition: cubic-bezier(0.75, 0.045, 0.25, 1) 3.9s all;
}

.main-tweet {
    transition: cubic-bezier(0.75, 0.045, 0.25, 1) 3.2s all;
    opacity: 0;
}

.fullscreen {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.approved {
    color: green;
}

#brand {
    position: absolute;
    top: 15px;
    left: 15px;
    color: #777;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}
#brand img {
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
    border-radius: 50%;
}
#brand span {
    display: block;
}

#twitter-logo {
    width: 40px;
    height: 32.5px;
    display: inline-block;
}

.attached-images img {
    max-width: 250px;
    max-height: 150px;
    padding: 5px;
}

.attached-images {
    margin-top: 20px;
    max-width: 500px;
    max-height: 300px;
}

#timestamp {
    color: #a19c9c;
    font-size: 18px;
    margin-top: 15px;
}

.names-container {
    display: inline-block;
}
